//SASS mixins
@mixin button-box-shadow {
	  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
	  &:hover {
		box-shadow: 0 5px 6px rgba(0, 0, 0, 0.19);
		}
  		&:active {
    	box-shadow: none;
	}
}
// Styles
#headerTop{
  	width: 100%;
  	margin: 0;
  	padding: 0;
	background: #58417e;
  	height: 120px;
  color:#ffffff;
  font-size: 30px;
}
#bodyContainer{
	min-height: 500px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  .row{
	display: unset;
  }
}
#footContainer{
  background: #58417e;
}
#topNavContainer{
  width: 200px;
  overflow-x: hidden;
  position: relative;
  border: 2px solid #1C6EA4;
  height: 500px;
  scrollbar: none;
  ul{
	list-style: none;
	margin: 0;
	padding: 0;
  }
}
.subMenu{
  position: absolute;
  right: -85px;
  display: none;
}
.subMenuShow{
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 100%;
  background: #343434;
  min-height: 100%;
  margin-left: calc(100vw - 100%);
  ul{
	margin-top: 20px;
	.parentMenu{
		background: #282c34;
	  &:hover{
		background: #465058;
	  }
	  svg{
		color:#ffffff;
		cursor: pointer;
	  }
	  }
	.parentMenu a{
	  color: #ffffff;
	}
  }
}
#backLink{
  width: 100%;
  padding: 2px 4px;
  background: aquamarine;
}
.parentMenu{
  padding: 2px 4px;
  width: 100%;
  background: aquamarine;
  color: #343434;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  &:hover{
	background: #5aabff;
  }
  .list_title{
	font-weight: bold;
  }
  .listIcon{
	width: 30px;
  }
}